<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Software Engineer</h1>
            <span><address>Samsung Electronics</address><time>2006 to Present</time></span>
        </header>
<ul>2006~2010  Develop feature phone with legacy framework.I developed camera app/gallery app, ListBox widget framework.</ul>
<ul>2010~2014  Develop  GalexyS and Note series with android framework.I developed homescreen(launcher) and AppWidget framework and Edge widget(RSS daum new,sports and stock)</ul>
<ul>2014~2015  Join a VD division and develop a named PX-Project that Tablet remote controller communicate with TV.</ul>
<ul>2016~2017  I lead a SmartViewSDK mobile library(Android,iOS,JS)</ul>



</section>
